@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --fonte-titulo: 'Old Standard TT', serif;
    --fonte-poema: 'MedievalSharp', cursive;
}

html, body {
    margin: 0px;
    padding: 0px;
}

header {
    background-image: linear-gradient(to right, green, orange);
    text-align: center;
    padding: 15px;
}

header > h1 {
    margin: 0px;
    padding: 10px;
    font-family: var(--fonte-titulo);
    font-size: 4vw;
}

header p {
    padding-bottom: 15px;
    font-size: 1.2em;
    font-family: var(--fonte-titulo);
    font-weight: bold;
    margin: 0px;
}

header a, footer a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    text-shadow: 2px 2px 2px black;
    color: white;
}

section {
    padding: 85px 30px;
    background-color: rgb(211, 211, 96);
}

section pre {
    white-space: pre-line;
    font-family: var(--fonte-poema);
    font-weight: bold;
    font-size: 3vw;
    line-height: 1em;
    text-shadow: 2px 2px 2px transparent;
}

#outono {
    background: black url('../imagens/outono.jpg') no-repeat fixed right center /cover;
}

#primavera {
    background: black url('../imagens/primavera.jpg') no-repeat fixed right center /cover;
}

.fundo {
    display: flex;
    justify-content: right;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 2px 2px 2px black;
    text-align: right;
    color: white;
    padding: 10px;
}

footer {
    background-image: linear-gradient(to right, orange, green);
    color: black;
    text-align: center;
    font-weight: bold;
    padding: 15px;
}

footer p {
    margin: 0px;
    font-size: 1.2em;
}

footer a:hover {
    text-decoration: underline;
    text-shadow: 2px 2px 2px black;
    color: white;
}